  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Robert Medina <strong>Programador FrontEnd & Analista De Sistema.</strong></h3>
          <p>Programador Junior con 1 año de Experiencia. especializado en desarrollo front end . Experimentado con todas las etapas del ciclo de desarrollo para proyectos web dinámicos. Tengo un conocimiento en diferente areas incluyendo HTML5 Intermedio, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS, PHP. Fuertes antecedentes en gestión y liderazgo.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Robert Medina</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Diciembre 06, 1985 </div>
              <div class="col-sm-6"><span>Dirección : </span> Venezuela, Distrito Capital, Caracas.</div>
              <div class="col-sm-6"><span>Email : </span> Csoperativo@gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> + 58 412 211 25 26</div>
              <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Profesional</h3>
          <div *ngFor="let profex of cv.profesional">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Experiencia</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div *ngFor="let expex of cv.experiencia">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span>{{ expex.Empresa }}</span> - {{ expex.Cargo }}</h4>
                                    <h5> {{ expex.Fecha }} </h5>
                                </div>
                                <p>{{ expex.Descripcion }}</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Educación</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                        <div *ngFor="let edux of cv.educacion">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>{{ edux.Nombre }} | <a href="{{ edux.Url }}" target="_blank"><span>Ver Certificado</span></a></h4>
                                  <h5>{{ edux.Fecha }}</h5>
                              </div>
                              <p>{{ edux.Descripcion }}</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
        <h3 class="block-title">Servicios</h3>
        <div class="timeline servicio ">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div *ngFor="let edux of cv.servicios">
                        <div class="exp">
                            <div class="hgroup">
                                <h4><i class="{{ edux.Icon }}" style="
                                    font-size: 30px"></i></h4>
                                <h5>{{ edux.Nombre }}</h5>
                            </div>
                            <p>{{ edux.Descripcion }}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="block-content">
          <h3 class="block-title">Testimonios</h3>
          <div class="row">
              <div id="liontestimonial" class="owl-carousel owl-theme">
                  <div *ngFor="let testix of cv.testimonio">
                    <div class="item testimonials">
                        <img src="assets\images\testimonials\1.jpeg" alt="">
                        <blockquote>{{ testix.Descripcion }}
                            <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                        </blockquote>
                    </div>
                </div>

              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">Csoperativo@gmail.com</a>
          </div>
      </div>
  </section>
